<h1>Publications index</h1>
<%= link_to "New publication", new_publication_path, class:"btn btn-primary" %>
<hr>
<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %>
    <p>
      <%= link_to "Show this publication", publication, class:"btn btn-info" %>
    </p>
  <% end %>
<div class="alert alert-warning" role="alert">  fin index </div>
</div>