<div id="<%= dom_id label %>">
  <p>
    <strong>Title:</strong>
    <%= label.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= label.description %>
  </p>

  <strong>available: </strong><%= label.available %></p>
</div>
