<h1>Show single label</h1>
  <%= button_to "Destroy this label", @label, method: :delete, class:"btn btn-danger" %>
<hr>
<%= render @label %>
<hr>
<div>
  <%= link_to "Edit this label", edit_label_path(@label), class:"btn btn-info" %> |
  <%= link_to "Back to labels", labels_path, class:"btn btn-info" %>
  <hr>
</div>
